/* root:{
    height: '100vh',
}, */
.root_style{
    height: 100vh;
}
.paper{
    padding: 40px;
    height: 400px;
    width: 240px;
    margin: 40px auto;
    border-radius: 2rem!important;
    color: black;
}
.avatar{
    background-color: #1bbd7e!important;
}
.btn_style{
    margin: 8px 0!important;
}
/* .social_media_links{
    position: relative;
    top: 48px;
    color: white;
}
.social_media_icons{
    font-size: 3rem!important;
    margin: 10px 0 0 17px;
    padding: 0;
    color: #3f50b5;
} */