.search {
    display: flex;
    flex: 1;
    background-color: rgba(70, 68, 68, 0.582);
    width: 60%;
    margin: 10px 20%!important;
  }
  .tab{
    width: 50%;
    text-transform: capitalize!important;
    font-size:1.1rem!important;
  }
  @media (max-width: 1000px){
    .search{
      width: 80%;
      margin: 10px 10%!important;
    }
    .tab{
      font-size:0.9rem!important;
    }
  }
  .tabs{
    margin: 10px;
  }